@model IEnumerable<ReadUserApi>


@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Listing Registered Users</h1>

	<table class="table">
		<thead>
			<tr>
				<th>@Html.DisplayName("Name")</th>
				<th>@Html.DisplayName("Surname")</th>
				<th>@Html.DisplayName("Date Of Birth")</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var row in Model)
			{
				<tr>
					<td>@row.FirstName</td>
					<td>@row.LastName</td>
					<td>@row.DateOfBirth.ToString().Substring(0, 10)</td>
					<td>
						<a asp-controller="Users" asp-action="updateUser" asp-route-id="@row.Id">
							<button type="button" class="btn btn-secondary btn-sm">Update</button>
						</a>
						<a asp-controller="Users" asp-action="DeleteUser" asp-route-id="@row.Id">
							<button type="button" class="btn btn-danger btn-sm">Delete</button>
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<br />
	<hr />
	<h2 class="display-4">Register a new User:</h2>
	<table class="table">
		<thead>
			<tr>
				<th><label for="FirstName">First Name</label></th>
				<th><label for="LasttName">Last Name:</label></th>
				<th><label for="DateOfBirth">Date Of Birth:</label></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<form id="createUser" action="registerNewUser" method="post" enctype="multipart/form-data">
				<td><input type="text" id="FirstName" name="FirstName" required /></td>
				<td><input type="text" id="LastName" name="LastName" required /></td>
				<td><input type="date" id="DateOfBirth" name="DateOfBirth" required /></td>
				<td><button type="button" class="btn btn-dark btn-sm" id="btnCreateUser">Register</button></td>
				</form>
			</tr>
		</tbody>
	</table>

	<hr />
</div>
